*, *:before, *:after {
  box-sizing: border-box;
}

img, embed, object, video{
  max-width: 100%;
  height: auto;
}
body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding-top: 50px;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.navbar{
  background: rgb(47,70,113);
  border: none;
  margin-bottom: 1000px;
}
.navbar a{
  color: white !important;
}
.navbar a:hover{
  color: rgb(81,101,140) !important;
}

.homeImage{
  height: 23vw;
  width: 100%;
}

.topContainer{
  margin-top: 20px;
}

/* .page.ng-enter,
.page.ng-leave {
-webkit-transition: 0.2s linear all;
-moz-transition: 0.2s linear all;
-o-transition: 0.2s linear all;
transition: 0.2s linear all;
opacity:-10;
} */
/* .page.ng-enter {
opacity:1;
}
.page.ng-enter-active {
opacity:1;
}
.page.ng-leave {
opacity:1;
}
.page.ng-leave-active {
opacity:1;
} */

/* @media (min-width: 900px){
body{
padding-top: 50px;
padding-bottom: 42px;
}
} */
