<!-- Header -->
<header id="page-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive homeImage" src="/images/headshot2.jpg" alt="">
        <div class="intro-text">
          <span class="name nameClass" id="nameId">Akyuna Akish</span>
          <hr>
          <span class="skills nameClass">Full Stack Web Developer - Boulder,CO</span><br><br>
          <div id="map"></div>
          <script src="/js/map.js"></script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="soften">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-1">
        <p>Full stack web developer educated through the
          <a class="galvanizeLink" href="https://www.galvanize.com/courses/full-stack/" target="_blank">
            Galvanize Full Stack</a> web development program. <br>

            <h1 class="skillsH1">Skills</h1>
            <table class="table skillTable table-hover">


              <tr>
                <td class="active">HTML</td>
                <td class="active">CSS</td>
              </tr>
              <tr>
                <td class="active">SCSS/SASS</td>
                <td class="active">Bootstrap</td>

              </tr>
              <tr>
                <td class="active">Javascript</td>
                <td class="active">Node.JS</td>
              </tr>
              <tr>
                <td class="active">Express.JS</td>
                <td class="active">Socket.io</td>
              </tr>
              <tr>
                <td class="active">Angular.JS</td>
                <td class="active">jQuery</td>
              </tr>
              <tr>
                <td class="active">Firebase</td>
                <td class="active">AngularFire</td>
              </tr>
              <tr>
                <td class="active">MongoDB</td>
                <td class="active">Postgesql</td>
              </tr>
              <tr>
                <td class="active">GIT</td>
                <td class="active">GITHUB</td>
              </tr>
              <tr>
                <td class="active">APIS</td>
                <td class="active">TDD</td>
              </tr>
              <tr>
                <td class="active">JASMINE</td>
                <td class="active">MOCHA</td>
              </tr>
              <tr>
                <td class="active">AWS</td>
                <td class="active">HEROKU</td>
              </tr>
              <tr>
                <td class="active">BCRYPT</td>
                <td class="active">OAUTH</td>
              </tr>
              <tr>
                <td class="active">Ruby on Rails</td>
                <td class="active">Java</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>


    <!-- Portfolio Grid Section -->
    <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Portfolio</h2>
            <hr class="soften">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img src="/images/keenlyDoneScreenShot.png" class="img-responsive" alt="">
            </a>
          </div>
          <!--     <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="caption">
          <div class="caption-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="img/portfolio/cake.png" class="img-responsive" alt="">
    </a>
  </div> -->
  <!--       <div class="col-sm-4 portfolio-item">
  <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
  <div class="caption">
  <div class="caption-content">
  <i class="fa fa-search-plus fa-3x"></i>
</div>
</div>
<img src="img/portfolio/circus.png" class="img-responsive" alt="">
</a>
</div> -->
<!--         <div class="col-sm-4 portfolio-item">
<a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
<div class="caption">
<div class="caption-content">
<i class="fa fa-search-plus fa-3x"></i>
</div>
</div>
<img src="img/portfolio/game.png" class="img-responsive" alt="">
</a>
</div> -->
<!--         <div class="col-sm-4 portfolio-item">
<a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
<div class="caption">
<div class="caption-content">
<i class="fa fa-search-plus fa-3x"></i>
</div>
</div>
<img src="img/portfolio/safe.png" class="img-responsive" alt="">
</a>
</div> -->
<!--         <div class="col-sm-4 portfolio-item">
<a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
<div class="caption">
<div class="caption-content">
<i class="fa fa-search-plus fa-3x"></i>
</div>
</div>
<img src="img/portfolio/submarine.png" class="img-responsive" alt="">
</a>
</div> -->
</div>
</div>
</section>

<!-- Resume Section -->
<section class="success" id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Resume</h2>
        <hr class="soften">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <img src="/images/AkyunaAkishResumeJPG.jpg" alt="">
      </div>
    </div>
  </div>
</section>





<!-- Footer -->
<footer class="text-center" id="contact">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-6">
          <h3>Contact</h3>
          <i class="fa fa-globe"></i> Boulder, CO<br><br>
          <i class="fa fa-phone"></i> 760-585-6334 <br><br>
          <a href="mailto:akyunaakish@gmail.com"><i class="fa fa-envelope"></i> akyunaakish@gmail.com</a>
        </div>
        <div class="footer-col col-md-6">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://github.com/AkyunaAkish" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/akyunaakish" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary upButton" href="#">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content modalDiv">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Keenly Done</h2>
            <hr class="soften">
            <img src="/images/keenlyDoneScreenShot.png" class="img-responsive img-centered" alt="">
            <p class="modalText">Social media platform for artists to share their creations.
              Create posts using images, gifs, youtube/vimeo videos,
              spotify links, and text. Like posts,
              add comments, and Keenly Done also includes a chatroom.
              Built using HTML, CSS/SCSS, Angular.js, and Firebase/AngularFire.
              <br><br>
              <button class="glossy"><a href="https://keenlydone.firebaseapp.com/#/" target="_blank">
                Visit Keenly Done</a></button><br><br>
                <button class="glossy"><a href="https://github.com/AkyunaAkish/capstone" target="_blank">
                  View Code</a></button>
                </p><br>
                <button type="button" class="btn btn-default glossy" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content modalDiv">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">
                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                <ul class="list-inline item-details">
                  <li>Client:
                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>Date:
                    <strong><a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>Service:
                    <strong><a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content modalDiv">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container modalDiv">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                <ul class="list-inline item-details">
                  <li>Client:
                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>Date:
                    <strong><a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>Service:
                    <strong><a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content modalDiv">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container modalDiv">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                <ul class="list-inline item-details">
                  <li>Client:
                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>Date:
                    <strong><a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>Service:
                    <strong><a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content modalDiv">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container modalDiv">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                <ul class="list-inline item-details">
                  <li>Client:
                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>Date:
                    <strong><a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>Service:
                    <strong><a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content modalDiv">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container modalDiv">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                <ul class="list-inline item-details">
                  <li>Client:
                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                  </li>
                  <li>Date:
                    <strong><a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                  </li>
                  <li>Service:
                    <strong><a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                  </li>
                </ul>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
